.login {
  width: 980px;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    padding: 0 0 0 25px;

    &__nav-left {
      display: flex;
      align-items: center;

      .logo {
        width: 230px;
        height: 28;
      }

      .link {
        margin-left: 15px;
        color: blue;
        text-decoration: none;
        color: gray;
        font-size: 22px;
      }
    }

    &__nav-derecho {
      display: flex;
      align-items: center;
      font-size: 13px;
      color: gray;

      .div-segura {
        display: flex;
        font-weight: 600;
        color: #646464;
        .text-segura {
          margin-left: 5px;
        }
      }

      .div-idioma {
        display: flex;
        align-items: center;
        .icon-puntos {
          transform: rotate(90deg);
          margin: 0 5px;
        }
      }
    }
  }

  &__header-bottom {
    height: 60px;
    display: flex;
    padding: 0 25px;
    align-items: center;
    background: var(--red-login);

    .text {
      color: #fff;
      font-weight: 400;
      font-size: 21px;
    }
  }

  //   body de login
  &__body {
    display: flex;
    padding: 2.5rem 1.5rem;

    &__form {
      color: #424242;
      padding: 0 5rem 0 0;

      .div-input {
        .label-form {
          font-size: 14px;
        }
        .input-form {
          margin-top: 7px;
          padding: 2px 5px;
          font-size: 14px;
          height: 28px;
        }

        margin-bottom: 2rem;
      }

      .text-pass {
        display: block;
        color: blue;
        font-size: 12px;
        text-decoration: none;
      }
      .btn-form {
        background: #006fb7;
        height: 26px;
        font-size: 14px;
        margin-top: 35px;
        padding: 0 1rem;
        outline: none;
        color: white;
        border-radius: 5px;
      }
    }

    &__body-medio {
      padding: 0 0 0 4rem;
      border-left: 1px solid #42424242;

      .text-header {
        margin-bottom: 10px;
        line-height: 24px;
      }
      .div-image {
        width: 348px;
        display: flex;
        align-items: flex-end;

        img {
          width: 40%;
        }

        .div-derecho {
          width: 50%;
          padding: 0 0 1rem 1rem;

          .text-img {
            margin-bottom: 10px;
            line-height: 24px;
            font-size: 15.6px;
          }

          .btn-img {
            display: block;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            border-radius: 8px;
            width: 80%;
            height: 55px;
            padding: 0.5rem;
            background: var(--red-login);
            color: white;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    &__body-derecho {
      .text-1 {
        border-bottom: 1px solid #42424242;
        padding-bottom: 9px;
        line-height: 22px;
        font-size: 14.2px;
      }

      .text-2 {
        font-size: 11px;
        color: rgb(15, 55, 187);
        margin: 16px 0;
      }
    }
  }

  &__footer {
    background-color: #f3efea;
    height: 147px;
    margin-top: 50px;
    padding: 15px 22px;

    .text-footer {
      color: #424242;
      font-size: 13px;
    }

    .div-span {
      font-size: 12px;
      display: flex;
      margin: 1rem 0;
      p {
        padding: 0 0.7rem;
        font-size: 12px;
      }
      .text-span {
        color: royalblue;
      }
    }

    .text-end {
      font-size: 12px;
    }
  }
}
